.accordion_wrapper{
    width: 500px;
    margin-top: 80px auto 0;
    margin-top: 100px;
}
.wrapper-header{
    width: 100%;
    height: 50px;
    color: #1b1b1b;   
    position: relative;
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgb(185, 171, 171) ;
}
.wrapper-header:hover{
    background-color: #f34f3f;
    color: #fff; 
}


 .wrapper-body{
     padding: 10px;
    width: 100%;
    height: 170px;
    display: none;
}
 .wrapper-body p{
 padding: 15px;
 font-size: 15px;
 line-height: 22px;
 opacity: 0.8;
}
.accordion-active{
    display: block !important;
}

