* {
  margin: 0;
  padding: 0;       
  box-sizing: border-box;
}

/* responsive nav  */
.responsive-ul{
  display: none;
}
.fa-times{
  display: none;
}
.fa-bars{
  display: none;
  font-size: 30px;
}

header nav img {
  padding: 35px 0px;
  width: 250px;
}
header .responsive-image{
  display: none;
}
/* start nav */




header nav .col-6 >ul { 
  z-index: 19;
  display: flex;
  justify-content: flex-end;
  
}
header nav .col-6> ul> li {
  position: relative;
  padding: 35px 30px;
  list-style: none;
  cursor: pointer;
}
header nav .col-6> ul> li::after {
  content: "";
  display: block;
  background-color: red;
  width: 0;
  height: 1px;
  transition: width 0.1s;
}
header nav .col-6> ul> li:hover::after {
  width: 100%;
}
header nav .col-6 >ul> li> a{
  color:  #1b1b1b;;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: .1em;
  text-decoration: none;
}
header nav .col-6 ul> li>ul{
  z-index: 1000009;
  position: absolute;
  width: 200px;  
  background-color: white;
  top: 89px;
  left: 10px;
  visibility:hidden;
  opacity: 0;
  transition: all 0.5s;
}
header nav .col-6 ul> li:hover >ul{
  visibility: visible;
  opacity: 1;
  top: 95px;
}
header nav .col-6 ul> li>ul>li{
  list-style: none;
  padding: 5px 10px;
}
header nav .col-6 ul> li>ul>li a{
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  color: #737373;
  line-height: 19px;
  font-weight: 500;
  text-transform: capitalize;
}
.fa-angle-right{
 margin-left: 3px;
 font-size: 10px;
}
.main-li>ul >li{
  position: relative;
}

.blog-list{
  left: 97% !important;
  top: 25% !important;
  position: absolute;  
  width: 180px !important;
  height: 150px;
  border-radius: 3px;  
}
header nav .col-6> ul> li>ul>li>a::after {
  content: "";
  display: block;
  background-color: red;
  width: 0;
  height: 1px;
  transition: width 0.1s;
}
header nav .col-6> ul> li >ul>li>a:hover::after {
  width: 100%;
}

header nav .col-3 .sosial-list {
  display: flex;
}
header nav .col-3 .sosial-list li {  
  list-style-type: none;
  padding: 35px 20px;
}
header nav .col-3 .sosial-list li i{
  color: #1b1b1b;
  cursor: pointer;
}
header nav .col-3 .sosial-list li sup{
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}
header nav .col-3 .sosial-list li sup p{
  display: inline-block; 
  font-size: 13px;
  color: white;
  padding: 7px 4px;
  
}
header nav .col-3 .sosial-list li a{
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: .1em;
  text-decoration: none;
}

/* slider  */
#slider{
  top: 0;
  position: relative;
  width: 100%;
  height: 550px;
  
}

#slider .images{
  width: 100%;
  height: 100%;
}

#slider .images .item{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition:opacity 1.5s;
  -webkit-transition:opacity 1.5s;
  -moz-transition:opacity 1.5s;
  -ms-transition:opacity 1.5s;
  -o-transition:opacity 1.5s;
}

#slider .images .item img{
  width: 100%;
  height: 100%;
}

#slider .nav{
  position: absolute;
  top: 45%;
  font-size: 40px;
  opacity: 0.8;
  display: inline-block;
  padding: 0px 7px;
  cursor: pointer;
}
#slider .left{
  left: 0px;
}
#slider .right{
  right:0px;
}
.activ{
  opacity: 1 !important;
}
.leftSide {
  top: 0;
  position: absolute;
  left: 10%;
  width: 450px;
  padding: 80px 0px 80px 85px;
  z-index: 20;
}

.leftSide h2 { 
  font-weight: 350;
  font-size: 50px;
}
.leftSide h2 span {
  color: red;
}
 .leftSide p {
  margin: 25px 0 30px 0;
   color: #696666;
  font-size: 17.64706px;
}
/* start shop card image  */
.shop-card,.shop-cart{
  width: 98%;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  /* line-height: 22px; */
  letter-spacing: .1em;
   overflow: hidden;
   height: 100%;
  
}
.flowPrice{
  text-align: center;
  opacity: 0.5;
}
.infoPic { 
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 .infoPic div {
  padding: 0px 20px 0px 20px;
  font-size: 15px;
  /* font-family: "Playfair Display"; */
}

 .infoPic div:hover {
  color: red;
  cursor: pointer;
}
.activeColor{
  columns: red;
}
.shop-card img{
  height: 300px;
}
.shop-card  img:hover{
  transform: scaleX(1.09);
  transition: transform 0.5s;
}
/* shop card end  */
/* valentine section  */

.valentineSection {
  margin-top: 90px;
  margin-bottom: 30px;
  background-color: #F7F7F7;
  position: relative;
  /* height: 600px; */
}

.valentineSection .valImg {
  padding: 35px 0 120px 0;
  width: 100%;
  height: 100%;
}

.valentineSection .valMainText {
  padding: 30px 0 0px 60px;  
  font-size: 44px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
}


.valentineSection .valMainText span {
  color: red;
}

.valentineSection .valMidText {
  font-size: 20px;
  line-height: 30px;
  padding: 30px 0 28px 65px;
  color: #979797;
}

.valentineSection .heartPng {
  margin-left: 65px;
  color: #979797;
}

.valentineSection .heartPng img {
  padding-right: 15px;
}
.flower-expert h1{
  padding-bottom: 15px;
 }
 .flower-expert p{
  color:  #6d6a6a;;
  font-size: 17px;
  line-height: 29px;

 }
.flower-expert{
    font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.expert-image p{
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase
  
}
.expert-image img{
  width: 230px;
  height: 230px;
}
.expert-image .profession{
  display: block;
  font-size: 12px;
  color: #afafaf;
  margin: 2px 0 4px;
  text-transform: capitalize;
}
/* end flower expert  */
/* flower blog  */
.flower-blog h1{
  padding-bottom: 15px;
}
.flower-blog p{
  font-size: 17px;
    line-height: 29px;
    color:  #6d6a6a;
}
.flower-blog{
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.blog-card{
  overflow: hidden;
  width: 370px;
}
.blog-card h4{
  color: #2b2b2b;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.blog-card p{
  color:  #6d6a6a;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.blog-card img:hover{
  transform: scale(1.05,1.05);
  transition: transform 0.5s;
}
/* end blog  */
/* footer  */
/* home last slider  */


.footer-links a{
  display: block;
  color:  #6d6a6a;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-links a:hover{
  color: red;
}
.footer-links h6{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #1b1b1b;
   font-size: 17px;
   line-height: 2em;
   font-weight: 500;
   letter-spacing: .1em;
   text-transform: uppercase
}
.footer-end a{
  margin-left: 15px;
  text-transform: uppercase;
  color: #afafaf;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-end p{
  font-size: 15px;
  color: #afafaf;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-end p span{
  color: #645f5f;
}
/* end footer  */


/* parallax  */

.parallax {
  background-image: url("../image/h3-background-img.jpg");
  width: 100%;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.parallax .send-email{
  position: absolute;
    left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.send-email h3{
  color: #ffffff;
  font-size: 30px;
  line-height: 1.4em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
}
.send-email button{
  border: none;
  border-radius: 1px;
  text-transform: uppercase;
  color: white;
  height: 50px;
  display: inline-block;
  width: 150px;
  background: #f34f3f;    
  font-size: 15px;  
}
.send-email input{
  border: none;
  border-radius: 1px;
  height: 50px;
  width:200px ;
  display: inline-block;
}
.send-email input::placeholder {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  padding-left: 15px;
}
.send-email #error{
  margin-top: 5px;
  text-align: center;
   color: red;
    font-size: 1em;
    font-weight: 400;
    display: none;
}
.send-email .error{
 border: 2px solid #f7e700;
 padding: 5px;
 display: none;
 color: white;
}







@media screen and (max-width: 1100px) {
 
header{
  overflow: hidden;
}

  header .responsive-image{
    display: inline-block;
    width: 300px;
    height: 100%;
    margin-left: 50px;
  }
  .fa-bars{
    display: block;
    right: 25px;
    top: 30px;
    position: absolute;
    color: black;
    cursor: pointer;
  }
  .fa-times{
    right: 30px;
    top: 30px;
    position: absolute;
    color: rgb(243, 161, 8);
    cursor: pointer;
    font-size: 30px;
  }
  
  .fa-caret-right{
    padding-left: 10px;
    cursor: pointer;
  }
  .fa-bars:hover{
    color: rgb(243, 161, 8);
    transition: all 0.5s;
  }
  
  header .col-6{
    display: none;
  }
  header .col-3{
    display: none;
  }
  .responsive-ul {
    z-index: 1000000;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 50%;
    background-color:white;
  }
  .responsive-ul >li{
    list-style: none;
    padding: 10px 15px;
  }
  .responsive-ul li> a{
   text-decoration: none;
    color: #0e0e0e;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 11px 0;;
  }
  
 .nav-active{
    transform: translateX(0%);
  } 
  .li-home,.li-shop,.li-element,.li-portfolio,.li-page,.li-blog{
    display: none;
  } 
  .left,.right{
    display: none;
  }
  .infoPic { 
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .leftSide{
    display: none;
  }
  
  .blog-card{
    width: 290px;
  }
  
  .valentine-info{
  
    width: 350px;
    margin-top: 0;
  }
  .valMainText{
    padding: 0px 0px 0px 60px;;
  }
  .small-image{
    display: none;
  } 
  .slider2{
    display: none;
  }
}
.slider2{
  /* margin-top: 100px; */
}
.slider2 img{
  height: 300px;  
}

.slider2 .owl-item{  
  height: 500px;
  background-color: white; 
}
.middle-flower-card{
  width: 250px;
  height: 302px;
  margin-top: 150px;
}

.up{
  z-index: 20000000;
  text-align: center;
  font-size: 50px;
  position: fixed;
  right: 10px;
  bottom: 30px;
  background-color: #f34f3f;
  color: white; 
  transform: rotate(90deg);
  cursor: pointer;
  display: inline-block;
}
.card-header {
  cursor: pointer;
}
.accordion-active{
  display: block;
}
