* {
  margin: 0;
  padding: 0;       
  box-sizing: border-box;
}
/* navbar height  */
#header{
  height: 100px;
  background-color:white;
  z-index: 5000000000000;
  border-bottom:1px solid #2cb978;

}
/* responsive nav  */
.responsive-ul{
  display: none;
}
.fa-times{
  display: none;
}
.fa-bars{
  display: none;
  font-size: 30px;
}
header nav img {
  padding: 35px 0px;
  width: 250px;
}
header .responsive-image{
  display: none;
}
/* start main  nav */
.fa-search:hover{
 color: red;
}
header nav .col-6 >ul { 
  z-index: 19;
  display: flex;
  justify-content: flex-end;  
}
header nav .col-6> ul> li {
  position: relative;
  padding: 35px 30px;
  list-style: none;
  cursor: pointer;
}
header nav .col-6> ul> li::after {
  content: "";
  display: block;
  background-color: red;
  width: 0;
  height: 1px;
  transition: width 0.1s;
}
header nav .col-6> ul> li:hover::after {
  width: 100%;
}
header nav .col-6 >ul> li> a{
  color:  #1b1b1b;;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: .1em;
  text-decoration: none;
}
header nav .col-6 ul> li>ul{
  z-index: 1000009;
  position: absolute;
  width: 200px;  
  background-color: white;
  top: 89px;
  left: 10px;
  visibility:hidden;
  opacity: 0;
  transition: all 0.5s;
}
header nav .col-6 ul> li:hover >ul{
  visibility: visible;
  opacity: 1;
  top: 95px;
}
header nav .col-6 ul> li>ul>li{
  list-style: none;
  padding: 5px 10px;
}
header nav .col-6 ul> li>ul>li a{
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  color: #737373;
  line-height: 15px;
  font-weight: 400;
  border-radius: 5px;
  text-transform: capitalize;
}
.fa-angle-right{
 margin-left: 3px;
 font-size: 10px;
}
.main-li>ul >li{
  position: relative;
}
 /* sticky nav  */
 .sticky{
   top: 0;
   position: fixed;  
   width: 100%; 
   transition: all 3s;
 }
 .sticky nav{
   background-color: #00d1ff!important;
 } .sticky .row{
   justify-content: center;  
 }

 .sticky ul>li>ul{
   background-color:#00d1ff  !important;
 }
 .sticky .col-3:last-child{
   display: none !important;
 } 
/* child ul of main shop  */
.blog-list{
  left: 97% !important;
  top: 25% !important;
  position: absolute;  
  width: 180px !important;
  border-radius: 3px;  
}
header nav .col-6> ul> li>ul>li a::after {
  content: "";
  display: block;
  background-color: red;
  width: 0;
  height: 1px;
  transition: width 0.1s;
}
header nav .col-6> ul> li >ul>li a:hover::after {
  width: 100%;
}
/* sosial icons and busket  */
header nav .col-3 .sosial-list {
  display: flex;
}
header nav .col-3 .sosial-list li {  
  list-style-type: none;
  padding: 35px 20px;
}
header nav .col-3 .sosial-list li i{
  color: #1b1b1b;
  cursor: pointer;
}
header nav .col-3 .sosial-list li sup{
  background-color: #cc0909;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}
header nav .col-3 .sosial-list li sup p{
  display: inline-block; 
  font-size: 13px;
  color: white;
  padding: 7px 4px;
  
}
header nav .col-3 .sosial-list li a{
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: .1em;
  text-decoration: none;
}

/* home first slider  */
#slider{
  top: 0;
  position: relative;
  width: 100%;
  height: 550px;  
}
#slider .images{
  width: 100%;
  height: 100%;
}
#slider .images .item{
  position: absolute;
  width: 100%;
  height: 80%;
  opacity: 0;
  transition:opacity 1.5s; 
}

#slider .images .item img{
  width: 100%;
  height: 100%;
}

#slider .nav{
  position: absolute;
  top: 35%;
  font-size: 40px;
  opacity: 0.1;
  display: inline-block;
  padding: 0px 7px;
  cursor: pointer;
}
#slider .nav:hover{
  color: rgb(151, 17, 17);
  opacity: 1;
  transition: 0.5s;
}
#slider .left{
  left: 0px;
}
#slider .right{
  right:0px;
}
.activ{
  opacity: 1 !important;
}
.leftSide {
  top: 0;
  position: absolute;
  left: 10%;
  width: 450px;
  padding: 80px 0px 80px 0px;
  z-index: 20;
}

.leftSide h2 { 
  font-weight: 350;
  font-size: 50px;
}
.leftSide h2 span {
  color: red;
}
 .leftSide p {
  margin: 25px 0 10px 0;
   color: #696666;
  font-size: 15.64706px;
}
/* home page start shop card image  */
.shop-card,.shop-cart{
  width: 98%;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
   overflow: hidden;
   height: 100%;  
}
.flowPrice{
  text-align: center;
  opacity: 0.5;
}
.flowPrice2{
  position: absolute;
  left: 20%;
  transition: all 0.5s;
 
}
.tohover {
  padding-right: 10px;  
  height: 20px;
  overflow: hidden; 
  position: relative;
  left: 38%;
  display: block;
  width: 50px;
  background-color: white;
}
.tohover p:last-child {
  transform: translateX(-130%);
}
.infoPic { 
  display: flex;
  font-family: Cambria,
   Cochin, Georgia, Times,
    'Times New Roman', serif;
}
.filter{
  cursor: pointer;
  font-family: Cambria,
  Cochin, Georgia, 
  Times, 'Times New Roman', serif;

}
.tofilter{ 
  font-family: Cambria,
  Cochin, Georgia, Times,
   'Times New Roman', serif;
  display: flex;
  justify-content:flex-start;
  width: 300px;
  background-color: white; 
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: 1.5px;
  

}
.filter:hover .tofilter{
  visibility: visible;
  opacity: 1; 
  top:100%
}
.type-flower{
  position: relative;
}
.tofilter ul>li{
    padding: 5px 30px; 
}
.tofilter li{ 
list-style: none;
}
.tofilter li ul>li{
  color: black;
  opacity: 0.8;
}
.tofilter li ul>li>a:hover{
  color: black;
  opacity: 1;
}
.tofilter li a{
  color: black;
    text-decoration: none;
}
 .infoPic div {
  padding: 0px 20px 0px 20px;
  font-size: 15px;
}
 .infoPic div:hover {
  color: red;
  cursor: pointer;
}
.activeColor{
  columns: red;
}
.shop-card img{
  height: 300px;
}
.shop-card  img:hover{
  transform: scaleX(1.09);
  transition: transform 0.5s;
}

/*home page valentine section  */
.valentineSection {
  margin-top: 90px;
  margin-bottom: 30px;
  background-color: #F7F7F7;
  position: relative;  
}
.valentineSection .valImg {
  padding: 35px 0 120px 0;
  width: 100%;
  height: 100%;
}
.valentineSection .valMainText {
  padding: 30px 0 0px 60px;  
  font-size: 44px;
  font-family: Cambria,
   Cochin, Georgia, Times,
    'Times New Roman', serif;
  font-weight: 400;
}
.valentineSection .valMainText span {
  color: red;
}
.valentineSection .valMidText {
  font-size: 20px;
  line-height: 30px;
  padding: 30px 0 28px 65px;
  color: #979797;
}

.valentineSection .heartPng {
  margin-left: 65px;
  color: #979797;
}
.valentineSection .rec{
  width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    right: 43%;
    border-radius: 50%;
}

.valentineSection .heartPng img {
  padding-right: 15px;
}
/* home page flower expert section  */
.flower-expert h1{
  padding-bottom: 15px;
 }
 .flower-expert p{
  color:  #6d6a6a;;
  font-size: 17px;
  line-height: 29px;

 }
.flower-expert{
    font-size: 22px;
  font-family: Cambria,
   Cochin, Georgia, Times,
    'Times New Roman', serif;
}
.expert-image p{
  color: #1b1b1b;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase
  
}
.expert-image img{
  width: 230px;
  height: 230px;
}
.expert-image .profession{
  display: block;
  font-size: 12px;
  color: #afafaf;
  margin: 2px 0 4px;
  text-transform: capitalize;
}
/* home page flower blog  */
.flower-blog h1{
  padding-bottom: 15px;
}
.flower-blog p{
  font-size: 17px;
    line-height: 29px;
    color:  #6d6a6a;
}
.flower-blog{
  font-size: 22px;
  font-family: Cambria, Cochin,
   Georgia, Times, 'Times New Roman', serif;
}
.blog-card{
  overflow: hidden;
  width: 370px;
}
.blog-card h4{
  color: #2b2b2b;
  font-family: Cambria, Cochin,
   Georgia, Times, 'Times New Roman', serif;
}
.blog-card p{
  color:  #6d6a6a;
  padding: 0;
  font-family: Cambria, Cochin,
   Georgia, Times, 'Times New Roman', serif;
}
.blog-card img:hover{
  transform: scale(1.05,1.05);
  transition: transform 0.5s;
}

/* home page  parallax  */
.parallax {
  background-image: url("../image/h3-background-img.jpg");
  width: 100%;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.parallax .send-email{
  position: absolute;
    left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
/* parallax iput send email  */
.send-email h3{
  color: #ffffff;
  font-size: 30px;
  line-height: 1.4em;
  font-family: Cambria, 
  Cochin, Georgia, Times,
   'Times New Roman', serif;
  font-weight: 400;
}
.send-email button{
  border: none;
  border-radius: 1px;
  text-transform: uppercase;
  color: white;
  height: 50px;
  display: inline-block;
  width: 150px;
  background: #f34f3f;    
  font-size: 15px;  
}
.send-email input{
  border: none;
  border-radius: 1px;
  height: 50px;
  width:200px ;
  display: inline-block;
}
.send-email input::placeholder {
  font-family: Cambria, Cochin,
   Georgia, Times,
    'Times New Roman', serif; 
  padding-left: 15px;
}
.send-email #error{
  margin-top: 5px;
  text-align: center;
   color: red;
    font-size: 1em;
    font-weight: 400;
    display: none;
}
.send-email .error{
 border: 2px solid #f7e700;
 padding: 5px;
 display: none;
 color: white;
}

/* home page last slider  */
.lastslider{
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;  
}
.imagecontainer{
  position: absolute;
  display: flex;
  width: 400%;
  height: 100%;
}
.box, .box3{
  font-family: Cambria, Cochin,
  Georgia, Times, 'Times New Roman', serif; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 25%;
}
.box >div{
  padding-bottom: 50px;
}
.box img{
  width: 120px;
  height: 120px;
}
.lefticon, .righticon {
  position: absolute;
  z-index: 1000;
  top: 40%;
  color: black;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.7;
}
.lefticon {
  left: 0;
}
.righticon {
  right: 0;
}


/* footer  */
.footer-links a{
  display: block;
  color:  #6d6a6a;
  text-decoration: none;
  font-family: Cambria, Cochin,
   Georgia, Times,
    'Times New Roman', serif;
}
.footer-links a:hover{
  color: red;
}
.footer-links h6{
   font-family: Cambria,
    Cochin, Georgia, Times,
     'Times New Roman', serif;
   color: #1b1b1b;
   font-size: 17px;
   line-height: 2em;
   font-weight: 500;
   letter-spacing: .1em;
   text-transform: uppercase
}
.footer-end a{
  margin-left: 15px;
  text-transform: uppercase;
  color: #afafaf;
  text-decoration: none;
  font-family: Cambria,
  Cochin, Georgia, Times,
   'Times New Roman', serif;
}
.footer-end p{
  font-size: 15px;
  color: #afafaf;
  font-family: Cambria,
   Cochin, Georgia, Times,
    'Times New Roman', serif;
}
.footer-end p span{
  color: #645f5f;
}
/* owl carousel  */
.slider2 img{
  height: 300px;  
}

.slider2 .owl-item{  
  height: 500px;
  background-color: white; 
}
.middle-flower-card{
  width: 250px;
  height: 302px;
  margin-top: 150px;
}
 /* html scroll icon  */
.up{
  z-index: 20000000;
  text-align: center;
  font-size: 50px;
  position: fixed;
  right: 10px;
  bottom: 30px;
  background-color: #f34f3f;
  color: white; 
  transform: rotate(90deg);
  display: none;
  cursor: pointer;  
}
/* tabs  */
.card-header {
  cursor: pointer;
}

/* hover busket in navbar to show list of flower  */
.infobasket{
  z-index: 111111111063;
  position: absolute;
  left: 0;
  top: 93%;
  width: 200px;
  height: 230px;
  background-color: teal;
  padding: 17px;
  visibility:hidden;
  opacity: 0;
  transition: all 0.5s;
  background-color: white;
  
}
.infobasket h4,h3 ,p,button{
  font-family: Cambria, Cochin,
   Georgia, Times, 'Times New Roman', serif;
}
.x{
  cursor: pointer;
  font-size: 15px;
  color: red;

}
.infobasket button{
  display: inline-block;
  width: 90px;
  height: 35px;
  padding: 5px;
  margin: 2px;
  color: white;
  border: none;
  outline: none;
  border-radius: 2px;
}
.view{
  background: #f34f3f; 
}
.check{
  background-color: #000;
}
.littleimage{
  background-image: url("../image/shop2.jpg");
  background-size: cover;
}
.search{
  position: relative;
}
.search:hover .infobasket{
  visibility: visible;
  opacity: 1;
}

/* one box to show in responsive in last slider  */
.box-1{
  text-align: center;
}
/* accordion page */
ul.accordion {
  list-style: none;
  padding: 0;
}

ul.accordion .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

ul.accordion li.accordion-box {
  margin: 0.5em 0;
}

ul.accordion li.accordion-box a.toggle {
  width: 100%; 
  display: block;
  color: #2f2f2f;
  padding: 0.75em;
  border-radius: 0.15em;
  border: 1px solid rgb(153, 153, 153);
  transition: 0.3s ease;
  text-decoration: none;
}
.toggle .sign {
  font-size: 18px;

  font-weight: 600;
}

ul.accordion li.accordion-box a.toggle:hover {
  background-color: red;
  color: white;
  transition: all 1s;
}
/* product page  */
.product{
  padding: 50px 20px;
}
.product h1{
    color: #0e0e0e;  
    font-size: 50px;
    line-height: 1.32em;
    font-weight: 400;
    font-family: Cambria, 
    Cochin, Georgia, Times, 'Times New Roman', serif;
}
.product-section{
    background-color: #F7F7F7;
}
.product p{
    vertical-align: middle;
    font-family: Cambria, 
    Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-style: italic;
    text-transform: none;
    letter-spacing: 0;
    color: #6d6a6a  
}
/* end product  */

/* start view  card */

.view-card p{
    padding-top: 10px;
    color: #6d6a6a ;
    font-family: Cambria,
     Cochin, Georgia, Times, 'Times New Roman', serif; 
}
#aboutcartcount{
    display: none;
}
.view-card button{
    border: none;
    border-radius: 1px;
    text-transform: uppercase;
    color: white;
    height: 50px;
    display: inline-block;
    width: 150px;
    background-color: rgb(241, 9, 9);
    font-size: 15px;
    font-family: Cambria,
     Cochin, Georgia, Times, 'Times New Roman', serif;    
}
.view-card button:hover{
    background-color:red ;
    transition:background-color 0.1s;
}
 .add-message{
      padding:15px 10px ;
      border: 1px solid #e8e8e8;
      display: none;
    
}
.add-busket .small-image img {
    width: 120px;
    display: block;
    height: 130px;
    margin-top: 10px;      
    cursor: pointer;
}
.add-busket .full-image img{
    height:550px ;    
    width: 300px;
}
.adding-detail{  
    width: 200px;
    padding-top: 20px;
    }
.flower-name-price{
width: 300px;
}
.flower-name-price h2{
    font-size: 38px;
    line-height: 1.447em;
    font-family: Cambria,
     Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2b2b2b;    
    font-weight: 400;
}
.flower-name-price p.info{
    font-family: Cambria,
     Cochin, Georgia, Times, 'Times New Roman', serif;  
    opacity: 0.8;
    width: 385px;
}
.price{
    line-height: 1.6em;
    font-size: 15px;
    opacity: 0.7;
}
.count-flower{    
    display: flex;
    justify-content: space-between;
    width: 383px;
   margin-top: 20px;
    border: 1px solid #b8afaf;
    height: 50px;
}
.count-flower p{
    font-family: Cambria,
     Cochin, Georgia, 
     Times, 'Times New Roman', serif; 
    opacity: 0.9;
    padding: 10px;
}
.count-flower button{
    background-color: #080808;
    border: none;
    border-radius: 1px;
    text-transform: uppercase;
    color: white;
    height: 50px;
    display: inline-block;
    width: 150px;    
    font-size: 15px;
    font-family: Cambria,
     Cochin, Georgia, 
     Times, 'Times New Roman', serif;    
}
.count-flower button:hover{
    transition: opacity 0.1s;
    opacity: 0.8;
}
.categori{
    margin-top: 32px;
    font-family: Cambria,
     Cochin, Georgia,
      Times, 'Times New Roman', serif;
}
.categori span{
    opacity: 0.8;
}
/* view description informatin  */
.flower{
    padding: 15px 25px ;    
    text-transform: uppercase;
    cursor: pointer;
}
.flower-info{
  padding: 30px 0;
  padding-left: 0;
}
.flower-info span{
    opacity: 0.8;
    font-size: 15px;

}
.flower-info h6{
    font-size: 17px;
 font-family: Cambria, Cochin,
  Georgia, Times, 'Times New Roman', serif;
}
.flower-info h3{
    color: #2b2b2b;
    font-family: Cambria,
     Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4em;
}
.flower-info p{
    opacity: 0.8;
    margin-top: 15px;
    line-height: 1.6em;
    font-family: Cambria,
     Cochin, Georgia, Times, 'Times New Roman', serif;  
}
.flower-info h1{
    font-size: 30px;
    line-height: 24px;
    margin: 3px 0 60px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia,
     Times, 'Times New Roman', serif;
}
.flower-info .expert-wiew{
    margin-top: 15px;
}
.expert-wiew{
  width: 700px;
}
.expert-wiew img{
    width: 90px;
    
}
.expert-detail p span{
    color: black;
    font-family: Cambria, Cochin,
     Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 15px;}
.expert-wiew input{
 height: 60px;
display: block;
}
.expert-wiew button,#showprogres{
    background-color: rgb(241, 9, 9);
    border: none;
    outline: none;
    border-radius: 1px;
    text-transform: uppercase;
    color: white;
    height: 50px;
    display: inline-block;
    width: 150px;    
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia,
     Times, 'Times New Roman', serif;  
    margin-top: 10px;
}
.active{
    background-color: rgb(236, 26, 26);
    color: white;
}
.display-view{
    display: none;
}
.add-cart{
    background-color: #cc0909;
    border: none;
    text-transform: uppercase;
    color: white;
    height: 40px;
    display: inline-block;
    width: 120px; 
    opacity: 0.7;
    outline: none;   
    font-size: 15px;
    font-family: Cambria, Cochin,
     Georgia, Times, 'Times New Roman', serif;  
}
.add-cart:hover{
    background-color: rgb(236, 26, 26);
    opacity: 1;
    transition: opacity 0.5s;

}
.new-flower,.sold-flower{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color:#cc0909;
    padding: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
    color: white;    
text-transform: uppercase;
}
.sold-flower{
    background-color: rgb(7, 7, 6);
}
.to-sale-card{
width: 98%;
color: #1b1b1b;
font-size: 12px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: .1em;
 overflow: hidden;
 height: 100%;
}
.hover-sale-flower span{
    display: block;
    margin-top: 5px;
}
.hover-sale-flower button{
    cursor: pointer;
    margin-top: 10px;
    background-color: #cc0909;
    border: none;
    border-radius: 1px;
    text-transform: uppercase;
    color: white;
    height: 40px;
    display: inline-block;
    width: 120px; 
    opacity: 0.7;   
    font-size: 15px;
    font-family: Cambria, Cochin,
     Georgia, Times, 'Times New Roman', serif;
}
.fa-angle-left,.fa-angle-right{
    font-size: 10px;
}
#tolow,#toup{
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
#howmuch{
    margin: 0 4px 0 4px;
}
/* progress bar page  */

.skills {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  margin-left: 50px;
}

.skillsbig {
  max-width: 1200px !important;
  margin: 150px 0px 150px 100px;
  margin-bottom: 100px;
  margin-left: 150px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 3px;
  background: #cacaca;
  border-radius: 8px;
}

.skill-per {
  height: 3px;
  background-color: rgb(243, 79, 63);
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  color: rgb(32, 31, 31);
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

/* tabs page  */
.product-section {
  margin-top: 50px;
}
.section {
  margin-top: 151px;
}

.menyular .menyu {
  width: 200px;
}
.menyular .menyu > div {
  width: 100%;
  height: 50px; 
  background-color: orange;
}
.menyu-info {
  position: absolute;
  background-color: green;
  height: 200px;
  width: 600px;
  display: none;
}
.menyu-active {
  background-color: red;
  display: block;
}
.tabs-links{
  border: 1px solid rgb(228, 212, 212);
  color: rgb(58, 52, 52);
}
/* animation  */
.expert-animation,.expert-animation1,.blog-animation,.blog-center-card,.shoplist-animation,.choose-image-animation,.image-animation{
  opacity: 0;
}
.image-animation.animated,
.expert-animation.animated,
.blog-animation.animated,
.expert-animation1.animated,
.blog-center-card.animated,
.shoplist-animation.animated,
.choose-image-animation.animated
{
  opacity: 1;
}

/* media  */

@media screen and (max-width: 1100px) {
 
  /* navbar section  */
  .sticky img{
    margin-right: 30px;
    width: 100px;
  }
  .flower-info .expert-wiew{
    width: 300px;
    padding-left: 60px;
  }
  #first-view,#second-view {
   padding-left: 45px;
  }
  #last-view h1{
    padding-left: 50px;
  }
header{
  overflow: hidden;
}
  header .responsive-image{
    display: inline-block;
    width: 250px;
    height: 90%;
    margin-left: 50px;
  }
  /* icon to show respn nav */
  .fa-bars{
    display: block;
    right: 25px;
    top: 35px;
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 20px;
  }
  /* to close respon nav */
  .fa-times{
    right: 30px;
    top: 35px;
    position: absolute;
    color: rgb(243, 161, 8);
    cursor: pointer;
    font-size: 20px;
  }
  /* icon to show dropdown in child li  */
    .fa-caret-right{
    padding-left: 10px;
    cursor: pointer;
  }
  .fa-bars:hover{
    color: rgb(243, 161, 8);
    transition: all 0.5s;
  }  
  /* response logo  */
  header .col-6{
    display: none;
  }
  /* sosial navs  */
  header .col-3{
    display: none;
  }
  /* response ul  */
  .responsive-ul {
    z-index: 1000000;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 100%;
    background-color:white;
    font-size: 17px;
  }
  .responsive-ul >li{
    list-style: none;
    padding: 10px 15px;
  }
  .responsive-ul li a{
   text-decoration: none;
    color: #0e0e0e;
    font-weight: 500;
    text-transform: capitalize;
    padding: 5px 0;   
  }
  .responsive-ul .ul-body a{
    text-decoration: none;
     color: #0e0e0e;
     font-weight: 500;
     opacity: 0.7;
     letter-spacing: .1em;
     padding: 11px 0;;
   }
    /*open and close respons nav  */
 .nav-active{
    transform: translateX(0%);
  } 
  
  /* home page sections for responsive */
  .left,.right{
    display: none;
  }
  .infoPic { 
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin,
    Georgia, Times, 
     'Times New Roman', serif;
  }
  .tofilter{
    flex-direction: column;
    padding: 5px;
  }
  
  .blog-card{
    width: 200px;
  }  
  .valentine-info{  
    width: 350px;
    margin-top: 0;
  }
  .valMainText{
    padding: 0px 0px 0px 60px;;
  }
  .small-image{
    display: none;
  } 
  .slider2{
    display: none;
  }
  #lastslider{
    display: none;
  }  
  .rotate{
  transform:rotate(90deg);
  transition: all 1s;
  }
  
  .ul-body{
    display: none;
    color: black! important;
  }
  .leftSide h2{
    font-size: 20px;
  }
  .leftSide p{
    width: 300px;
  }
}

@media screen and (max-width: 380px) { 
  .blog-car-image .box-1{
    display: block;
  } 
 .product-section h1{
   font-size: 30px;

 }
  .flower-name-price p.info {
    font-family: Cambria, Cochin,
     Georgia, Times, 'Times New Roman', serif;
    opacity: 0.8;
    width: 275px;
}
.count-flower {
  display: flex;
  justify-content: space-between;
  width: 275px;
  margin-top: 20px;
  border: 1px solid #b8afaf;
  height: 50px
}
.flower-info p {
  opacity: 0.8;
  width: 270px;
 
}
.menu{
  flex-direction: column;
  padding-left: 50px;
}
   .up span{
    display: none;
  } 


}
@media screen and (max-width: 790px) {
  .blog-center-card{
    flex-direction: column;
    align-items: center;
  }
}