.menu {
  width: 418px;
  display: flex;
  border: 1px solid #ccc;
}

.menu div {
  width: 150px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.content {
  height: 292px;
  width: 480px;
  opacity: 0.8;
  padding: 30px 20px;
  border: 1px solid #ccc;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.active:hover {
  color: #fff !important;
  background-color: #f34f3f !important;
}
.tab-pane p {
  border: none !important;
  color: black;
  background-color: white;
  opacity: 1.8;
  padding: 10px 7px;
  border: 1px solid #ccc;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#nav-tabContent p {
  opacity: 1.8 !important;
  background-color: white !important;
}
.tab-link {
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.product-section {
  margin-top: 50px;
}
.section {
  margin-top: 151px;
}

.menyular .menyu {
  width: 200px;
}
.menyular .menyu > div {
  width: 100%;
  height: 50px; 
  background-color: orange;
}
.menyu-info {
  position: absolute;
  background-color: green;
  height: 200px;
  width: 600px;
  display: none;
}
.menyu-active {
  background-color: red;
  display: block;
}
.tabs-links{
  border: 1px solid rgb(228, 212, 212);
}

.tab-text{
  background-color: white!important;
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  opacity: 0.9;
}

